# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/
Scripts/
Lib/
CACHEDIR.TAG
pyvenv.cfg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flask
instance/
*.db

# Distribution / packaging
dist/
build/
*.egg-info/
